{% extends 'admin_base.html' %}

{% block content %}

<h1 class="display-3">Edit your admin profile</h1>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form 
        if field.widget.input_type != 'hidden' and field.name != 'password' %}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label }}
        {{ field(class_='form-control', placeholder=field.label.text) }}
    
    {% endfor %}

    <p>To confirm changes, enter your password:</p>
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    {% endif %}
    {{ form.password(placeholder="Enter your password to confirm", class_="form-control") }}


    <button class="btn btn-outline-success" type="submit">Save</button>
    <a href="/admin/admin_home/{{admin_id.id}}" class="btn btn-outline-secondary">Cancel</a>

</form>


{% endblock %}