body{
    height: auto;
    background-color: #d3d3d3;
    font-family: 'Tinos', serif;
}

.content-wrapper{
    width: 100%;
    margin: 0;
    position: relative;
}

.content-wrapper img{
    width: 100%;
    margin: 0;
}

.text-wrapper{
    width: 100%;
    position: absolute;
    top: 5px;
    left: 20px;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card > img {
    width: 100%;
}

.card-container{
    padding: 2px 16px;
}
