{% extends 'base.html'%}
{% block title%}Error 401 - Unauthorized Access!!!{% endblock %}
{% block content %}

<p class="my-5 h5 text-center"><i class="fa-solid fa-4"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-1"></i> Error code!</p>
<h5 class="text-center">Your access to this page is Unauthorized! <a class="btn btn-primary" href="/">Go home</a></h5>


<div class="d-flex justify-content-center">
<iframe src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-1934.jpg?t=st=1650142239~exp=1650142839~hmac=35d0069d252246d59df900206baf8683991e0cf27c21c4847c8bd2a8f0ab1aed&w=740" 
        width="750" 
        height="750" 
        frameBorder="0" 
        class="align-self-center" 
        allowFullScreen></iframe>
</div>
{% endblock %}