{% extends 'base.html'%}
{% block title%}Error 404 - Page not found!!!{% endblock %}
{% block content %}

<p class="my-5 h5 text-center"><i class="fa-solid fa-4"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-4"></i> Error code!</p>
<h5 class="text-center">The requested URL was not found on this server. <a class="btn btn-primary" href="/">Go home</a></h5>


<div class="d-flex justify-content-center">
<iframe src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-1932.jpg?t=st=1650141585~exp=1650142185~hmac=2d2c3fb2d379d2008e1e2e8e3607d2aef0613279122b3ed4e60ac70515adab0d&w=740" 
        width="800" 
        height="800" 
        frameBorder="0" 
        class="align-self-center"
        allowFullScreen></iframe>
</div>

{% endblock %}